*{
	box-sizing: border-box;
}

.box{
	background-color: #ddd;
	width: 33.33%;
	padding: 50px;
	float: left;
	border: 10px solid green;
}
.box1{
background-color: #c0c0c0;
}
.box2{
	background-color:#808080;
}
.box3{
	background-color:#696969;
}