
.box{
	background-color: #ddd;
	width: 33.33%;
	padding: 50px;

	float: left;
	border: 10px solid green;
}
.box1{
background-color: #c0c0c0;
}
.box2{
	background-color:#808080;
}
.box3{
	background-color:#696969;
}

.important{
	background-color: #fff8dc;
	border-left: 3px solid #ffd700;
	width:100%;
	height: auto;
	padding: 10px;
	
}
.w3-codespan
{
	background-color: lightgrey;
	color: red;
	padding: 2px;
	margin: 2px;

}
* {
	box-sizing: border-box;
}

.img-container{
	float: left;
	width: 33.33%;
	padding: 5px;
}

.clearfix::after{
	content: "";
	clear: both;
	display: table;
}
.clearfix2::after{
	content: "";
	clear: both;
	display: table;
}
.box-height{
	float: left;
	width: 50%;
	padding: 50px;
	height: 300px;
	background-color:#bbb
}

/*flexbox*/
.flex-container{
	display: flex;
	flex-wrap: nowrap;
	background-color: blue;
}
.box-flex{
	background-color: #f1f1f1;
	width: 50%;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;

}
li{
	float: left;
}

li a {
	display: inline-block;
	text-decoration: none;
	color: white;
	padding: 14px 16px;

}
li a:hover{
	background-color: #111;
}
.active{
	background-color: red;
}

.nav{
	background-color: yellow;
	list-style-type: none;
	padding: 0;
	margin: 0;

}
.nav li{
	display: inline-block;
	font-size: 30px;
	padding: 20px;
	text-align: center;
}
.nav li a {
	color: blue;
	
}

